{% include "partials/header.html" %}

<style>
#heading{
  font-family: a;
  padding-top: 25px ;
  display: flex;
  align-items: center;
  justify-content: center;
}
form{
  padding-bottom: 25px;
}
#formContainer{
  display: flex;
}
#formContainer form{
  padding: 0px 3px;
}
</style>
<body>
    {% include "partials/navbar.html" %}
    {% block content %}

    <div id="heading">
      <h1>{{Heading}} Inventory</h1>
    </div>

    <form class="container" method="post">
      <div class="mb-3">
        <label class="form-label">Item Name</label>
        <input type="text" class="form-control" id="ItemNameId" name="ItemName" value="{{InventaryUpdate.ItemName}}">
        <div id="emailHelp" class="form-text">The Exact Name Should be Given</div>
      </div>
      <div class="mb-3">
        <label  class="form-label">Quantity</label>
        <input type="number" class="form-control" id="ItemQuantityId" name="ItemQuantity" value="{{InventaryUpdate.Quantity}}">
      </div>
      <div class="mb-3">
        <label  class="form-label">PerCost</label>
        <input type="number" class="form-control" id="ItemPerCostId" name="ItemPerCost" value="{{InventaryUpdate.PerCost}}">
      </div>
      <button type="submit" class="btn btn-primary" >{{btnname}}</button>
    </form>

    <table class="table ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Per Cost</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for InventoryItem in InventoryList %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{InventoryItem.ItemName}}</td>
            <td>{{InventoryItem.Quantity}}</td>
            <td>{{InventoryItem.PerCost}}</td>
            <td>
              <div id="formContainer">
                <form action="/InventoryUpdate/{{InventoryItem.sno}}" method="post">
                  <button class="btn btn-primary">update</button> 
                </form>
                <form action="/Inventorydelete/{{InventoryItem.sno}}" >
                  <button class="btn btn-primary">delete</button>
                </form>
              </div>
            </td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>

    {% endblock %}
    {% include "partials/footer.html" %}
</body>

</html>